@media (width: 1199px) {
    .cat_content {
        padding-left: 17%;
    }
    .wrap-input-email input{
        width: 458px;
    }
}
@media (width: 1190px) {
    .cat_content {
        padding-left: 16%;
    }
    .wrap-input-email input{
        width: 458px;
    }
}
@media (min-width:992px) and (max-width: 1199px) {
    section {
        padding: 50px 0;
    }
    .footer_social_icon{
        padding-top: 0;
    }
    .post_by{
        padding-left: 10px;
    }
    
}
@media (width: 991px) {
    .cat_content {
        padding-left: 32px;
    }
    .blog_post_wrap{
        margin-bottom: 40px;
    }
}
@media (min-width:767px) and (max-width:991px){
    section{
        padding: 45px 0;
    }
    .section_header {
        padding-bottom: 60px;
    }
    .section_header h4{
        font-size: 32px;
        margin-bottom: 10px
    }
    .section_header p{
        font-size: 16px;
    }
    .navbar-light .navbar-brand{
        padding-left: 15px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.98)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-light .navbar-nav .nav-link{
        line-height: 50px;
        font-size: 14px;
    }
    .navbar-collapse{
        background: #393E46;
        text-align: center;
    }
    .navbar-toggler:focus, .navbar-toggler:hover{
        outline: 0;
    }
    .bannar_content h3{
        font-size: 32px;
        line-height: 1;
    }
    .bannar_content p{
        padding: 0 100px 0 100px;
        line-height: 22px;
        font-size: 14px;
    }
    .input-group .form-control{
        font-size: 14px;
        height: 40px;
        margin-bottom: 8px;
    }
    .bn_submit button{
        font-size: 14px;
        height: 40px;
    }
    .bannar_form{
        margin-top: 15px;
    }
    .product_info h6{
        font-size: 18px;
    }
    .news_info h5{
        font-size: 16px;
    }
    .news_info p{
        font-size: 12px;
    }
    .cat_content {
        padding-left: 17%;
    }
    .link_more{
        margin-bottom: 20px;
    }
    .wrap-input-email input{
        width: 298px;
    }
    footer{
        padding: 45px 0;
    }
    .footer_two{
        margin-bottom: 25px;
    }
    .footer_social_icon{
        padding-top: 0;
        padding-bottom: 20px;
    }
    .blog_post_wrap{
        margin-bottom: 40px;
    }
    .testimonial_item p{
        padding: 0;
    }
    .about_title{
        font-size: 18px;
        line-height: 24px;
    }
    .about_left_part .about_left_content{
        margin-bottom: 30px;
    }

}	
@media (min-width:319px) and (max-width: 767px) {
    section{
        padding: 45px 0;
    }
    .section_header {
        padding-bottom: 40px;
    }
    .section_header h4{
        font-size: 26px;
        margin-bottom: 0;
    }
    .section_header p{
        font-size: 14px;
    }
    .login_content span .input_style{
        display: flex;
        margin-left: 20%;
        margin-bottom: -10px;
    }
    .navbar-light .navbar-brand{
        padding-left: 15px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.98)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-light .navbar-nav .nav-link{
        line-height: 40px;
        font-size: 14px;
    }
    .navbar-collapse{
        background: #393E46;
        text-align: center;
    }
    .navbar-toggler:focus, .navbar-toggler:hover{
        outline: 0;
    }
    .bannar_content h3{
        font-size: 20px;
        line-height: 1;
    }
    .bannar_content p{
        padding: 0;
        line-height: 20px;
        font-size: 14px;
    }
    .input-group .form-control{
        font-size: 12px;
        height: 30px;
        margin-bottom: 8px;
    }
    .bn_submit button{
        font-size: 12px;
        height: 32px;
    }
    .bannar_form{
        margin-top: 15px;
    }
    .product_info h6{
        font-size: 18px;
    }
    .news_info h5{
        font-size: 16px;
    }
    .news_info p{
        font-size: 12px;
    }
    .link_more{
        margin-bottom: 20px;
    }
    .wrap-input-email input{
        width: 298px;
    }
    footer{
        padding: 45px 0;
    }
    footer div{
        padding-bottom: 5px;
    }
    .footer_social_icon{
        padding-top: 0;
    }
    .blog_post_wrap{
        margin-bottom: 40px;
    }
    .testimonial_item p{
        padding: 0;
        font-size: 14px;
    }
    .about_title{
        font-size: 18px;
        line-height: 24px;
    }
    .about_left_part .about_left_content{
        margin-bottom: 30px;
    }
		
}

@media (width:480px) {
    .login_content span .input_style{
        width: 60%;
    }
    .register_content span .input_style{
        margin-bottom: 15px !important;
    }
    .link_more{
        float: inherit !important;
    }
    .cat_content {
        padding-left: 16%;
    }
}


@media (width:576px) {
    .login_content span .input_style{
        width: 60%;
    }
    .register_content span .input_style{
        margin-bottom: 15px !important;
    }
}


@media (width:767px) {
    .login_content span .input_style{
        width: 60%;
    }
    .register_content span .input_style{
        margin-bottom: 15px !important;
    }
    .cat_icon {
        font-size: 35px;
        padding-top: 10px;
    }
    .cat_text h5 a{
        font-size: 15px;
    }
    .cat_text h6{
        font-size: 12px;
    }
    .cat_content {
        padding-left: 7%;
    }
}

